<!DOCTYPE html>
<html>
  <head>
    <title>Contact us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      
    </style>
  </head>
  <body>

    <button *ngIf="BuyerButton == true" type="submit" (click)="clickBuyerButton()">Buyer</button>
    <button *ngIf="SellerButton == true" type="submit" (click)="clickSellerButton()">Seller</button>


    <div *ngIf="isSellerButtonClicked == true">
      <button *ngIf="sellerSignUpButton == true" type="submit" (click)="clickSellerSignUp()">SignUp</button>
      <button *ngIf="sellerSignInButton == true" type="submit" (click)="clickSellerSignIn()">SignIn</button>
    </div>

    <form action="/" class="decor"*ngIf="sellerSignUpForm == true" >
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>SignUp - Seller</h1>
        <input type="text" placeholder="Company Name">
        <input type="text" placeholder="Proprietor Name">
        <input type="email" placeholder="Company Email">
        <input type="text" placeholder="Product Category Code">
        <textarea placeholder="Company Address" rows="5"></textarea>

        <p>Click on the "Choose File" button to upload a Company Registration Certificate:</p>
        <input type="file" id="myFile" name="filename">

        <input type="checkbox" value="none" id="check_1" name="check" required/>
              <label for="check_1" class="check"><span>I agree to the terms and conditions.</span></label>

        <button type="submit" href="/">Submit</button>
      </div>
    </form>

    <form action="/" class="decor" *ngIf="sellerSignInForm == true">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>SignIn - Seller</h1>
        <input type="text" placeholder="User Name">
        <input type="text" placeholder="Password ">
        <input type="checkbox" value="none" id="check_1" name="check" required/>
        <label for="check_1" class="check"><span>Forgot Password ?</span></label>

        <button type="submit" href="/">Submit</button>
      </div>
    </form>


    <div *ngIf="isBuyerButtonClicked == true">
      <button *ngIf="buyerSignUpButton == true" type="submit" (click)="clickBuyerSignUp()">SignUp</button>
      <button *ngIf="buyerSignInButton == true" type="submit" (click)="clickBuyerSignIn()">SignIn</button>
    </div>

      <form action="/" class="decor" *ngIf="buyerSignUpForm == true">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
          <h1>SignUp - Buyer</h1>
          <input type="text" placeholder="User Name">
          <input type="text" placeholder="Password ">
          <input type="checkbox" value="none" id="check_1" name="check" required/>
          <label for="check_1" class="check"><span>I agree to the terms and conditions.</span></label>
  
          <button type="submit" href="/">Submit</button>
        </div>
      </form>

      <form action="/" class="decor" *ngIf="buyerSignInForm == true">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
          <h1>SignIn - Buyer</h1>
          <input type="text" placeholder="User Name">
          <input type="text" placeholder="Password ">
          <input type="checkbox" value="none" id="check_1" name="check" required/>
          <label for="check_1" class="check"><span>Forgot Password ?</span></label>
  
          <button type="submit" href="/">Submit</button>
        </div>
      </form>

  </body>
</html>